/* General styles */
body {
    font-family: Cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: darkslateblue;
    color: white;
    text-align: center;
    margin: 0;
}

/* quote container */


/* author name */


/* button styles */